@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@maplibre/maplibre-gl-geocoder/dist/maplibre-gl-geocoder.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
  color: #0D0D00;
}

.map {
    height: 100%;
    z-index: 0;
}

.map-wrap {
    flex-grow: 1;
}
#app-wrap {
    height: 100vh;
    overflow-y: hide;
}
#sidebar {
    width: 400px;
    overflow-y: auto;
    padding: 0 0.5rem;
}

.maplibregl-popup {
  max-width: 100% !important;
  line-height: 1em;
}
table tr:nth-child(odd) {
  background-color: aliceblue;
}

.wrapper {
  padding: 0.5rem;
}

h5, h3 {
  margin: 0;
  padding: 1rem 0;
}

.metadata h3 {
  padding: 0.2rem 0;
}

details summary + div {
  margin-left: 0.5rem;
  max-height: 200px;
  overflow-y: scroll;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.layers .row {
  display: flex;
}

.layers .grow {
  flex-grow: 1;
}

.layers .group i {
  margin-right: 0.5rem;
}

.layers .legend {
  width: 17px;
  margin: 0 0.5rem;
}

.logo {
  max-width: 100%;
  padding-top: 0.3rem;
}

#sidebar {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #003C65;
}

i.fas {
  color: #003C65;
}

a, a > i.fas {
  color: #03B3CF;
}